# No custom data
meta.json
# No custom pages
pages/*
!pages/default-index.md
# No auth keys
auth/auth_code.php
# No custom plugins
plugins/*
!plugins/customMarkdown.php
!plugins/dateFormat.php
!plugins/directoryList.php
# No built files
buildtmp
AfterCoffee-*.zip
*.backup
