/*===============
	ANIMATION
===============*/

@keyframes blurIn {
	from {filter: blur(0em);}
	to {filter: blur(0.125em);}
}

@keyframes blurOut {
	from {filter: blur(0.125em);}
	to {filter: blur(0em);}
}

article.page {
	animation: blurOut 0.125s ease-out forwards;
}

article.pageOut {
	animation: blurIn 0.125s ease-in forwards;
}

:root {
	--borderDist: 0.25em;
	--borderHalf: calc(var(--borderDist) / 2);
	--BorderDistNeg: calc(var(--borderDist) * -1);
}

::selection {
	color: var(--background);
	background: var(--foreground);
}

/*==================
	PAGE DISPLAY
==================*/

body, code {
	color: var(--foreground);
	background-color: var(--background);
	font-size: 16px;
	font-family: sans-serif;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	padding-top: 0;
	line-height: 1.4;
	text-align: justify;
}

h1 {
	color: var(--foreground);
	font-weight: 720;
	letter-spacing: -.05em;
	word-break: break-word;
}

h2 {
	text-shadow: 0 0 0.125em var(--midground);
}

h4 {
	text-align: center;
}

h1, h2, h3, h4 {
	line-height: 1.2;
}

a {
	color: inherit;
}

a:visited {
	color: var(--blue);
}

table, th, td {
	border: 1px solid var(--foreground);
	border-collapse: collapse;
	padding: 0.25em;
}

ul li img {
	height: 1em
}

img {
	max-width: 100%;
}

img.art {
	float: right;
	width: 350px;
	border: 5px solid var(--selectionBackground);
	margin: 0.5em;
}

mark, span.mark {
	margin: 0 -0.2em;
	padding: 0.25rem 0.3em;
	border-radius: 0.6em 0.3em;
	background: transparent;
	background-image: linear-gradient( to right, var(--background), var(--selectionBackground) 4%, var(--background));
	box-decoration-break: clone;
}

code {
	font-family: monospace;
	background-color: var(--selectionBackground);
	padding: 0.2rem;
	border-radius: var(--borderHalf);
}

/*==============
	INFO BAR
==============*/

.info {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: left;
}

.info div {
	text-align: center;
	max-width: 100%;
}

select {
	background-color: var(--selectionBackground);
	border-radius: var(--borderDist);
	border: none;
	color: var(--foreground);
	max-width: 12rem;
	max-height: 2rem;
	padding: 0.25rem;
}

#controlPanel {
	display: flex;
	max-width: 100%;
	justify-content: space-evenly;
	margin-bottom: var(--borderDist);
}

/*======================
	HEADER AND FOOTER
=======================*/

.banner {
	border-radius: var(--borderDist);
	padding: 0.25em;
	color: var(--foreground);
	background-color: var(--midground);
	margin-bottom: 0.125rem;
}

.left, .right {
	background: var(--midground);
}

.right a:first-of-type {
	text-decoration: none;
	color: var(--foreground);
	font-size: 150%;
}

h3.banner {
	padding-left: 0;
}

/*======================
	CONFIG AND EDITOR
=======================*/

.line {
	margin-top: 0.5em;
	display: inline-block;
}

.line>hr {
	margin-top: -0.75em;
	margin-right: 1em;
	border: 0.0625em solid var(--selectionBackground);
}

.bubble>span {
	color: var(--selectionBackground);
	width: 1em;
}

.line>label>span {
	background-color: var(--background);
	padding-right: 0.25em;
}

label {
	display: inline-block;
	min-width: 10em;
}

.bubble, textarea {
	margin-top: 0.5em;
	margin-bottom: 0;
	border-radius: var(--borderDist);
	background-color: var(--background);
	border: none;
}

input {
	border: 0.2em solid var(--selectionBackground);
	border-radius: var(--borderHalf);
}

.infoBlock, input[type="submit"] {
	background: var(--selectionBackground);
	border-radius: var(--borderDist);
	border: none;
	color: var(--white);
	font-family: sans-serif;
	outline: none;
	padding: 0.25rem;
	text-decoration: none;
	margin: 0;
}

input[type="submit"], a.button {
	font-weight: bold;
	white-space: nowrap;
}

textarea {
	border-bottom-left-radius: 0;
	color: var(--foreground);
	filter: grayscale(1);
	max-width: 800px;
}

form {
	display: inline-block;
}

form > hr {
	border: none;
	height: 0.125em;
}

.editorPub {
	display: inline-block;
	padding: 0.25em;
	background-color: var(--background);
	border-radius: 0 0 var(--borderDist) var(--borderDist);
}

.bubble span {
	display: inline-block;
}

.bubble label {
	margin-right: -1em;
}