/*===============
	ANIMATION
===============*/

@keyframes blurIn {
	from {filter: blur(0em);}
	to {filter: blur(0.125em);}
}

@keyframes blurOut {
	from {filter: blur(0.125em);}
	to {filter: blur(0em);}
}

#body.page {
	animation: blurOut 0.125s ease-out forwards;
}

#body.pageOut {
	animation: blurIn 0.125s ease-in forwards;
}

/* Uses Windows Terminal-like theme naming */

/* Default theme based on Gruvbox Light by morhetz/reynn */

:root {
	--black: #fbf1c7;
	--red: #9d0006;
	--green: #79740e;
	--yellow: #b57614;
	--blue: #076678;
	--purple: #8f3f71;
	--cyan: #427b58;
	--white: #333333;
	--brightBlack: #9d8374;
	--brightRed: #cc241d;
	--brightGreen: #98971a;
	--brightYellow: #d79921;
	--brightBlue: #458588;
	--brightPurple: #b16186;
	--brightCyan: #689d69;
	--brightWhite: #7c6f64;
	--background: #fbf1c7;
	--foreground: #282828;
	--selectionBackground: #d5c4a1;
	--cursorColor: #282828;
	--borderDist: 0.25em;
	--borderHalf: calc(var(--borderDist) / 2);
	--BorderDistNeg: calc(var(--borderDist) * -1);
}

::selection {
	color: var(--background);
	background: var(--foreground);
}

/*==================
	PAGE DISPLAY
==================*/

body, code {
	color: var(--foreground);
	background-color: var(--background);
	font-size: 16px;
	font-family: sans-serif;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	padding-top: 0;
	line-height: 1.4;
	text-align: justify;
}

h1 {
	color: var(--foreground);
	font-weight: 720;
	letter-spacing: -.05em;
	word-break: break-word;
}

h2 {
	text-shadow: 0 0 0.125em var(--brightBlack);
}

h4 {
	text-align: center;
}

h1, h2, h3, h4 {
	line-height: 1.2;
}

a {
	color: var(--brightBlue)
}

a:visited {
	color: var(--blue)
}

table, th, td {
	border: 1px solid var(--foreground);
	border-collapse: collapse;
	padding: 0.25em;
}

ul li img {
	height: 1em
}

img {
	max-width: 100%;
}

img.art {
	float: right;
	width: 350px;
	border: 5px solid var(--selectionBackground);
	margin: 0.5em;
}

mark, span.mark {
	margin: 0 -0.2em;
	padding: 0.25rem 0.3em;
	border-radius: 0.6em 0.3em;
	background: transparent;
	background-image: linear-gradient( to right, var(--background), var(--selectionBackground) 4%, var(--background));
	box-decoration-break: clone;
}

code {
	font-family: monospace;
	background-color: var(--selectionBackground);
	padding: 0.2rem;
	border-radius: var(--borderHalf);
}

/*==============
	INFO BAR
==============*/

.info {
	display: flex;
	justify-content: space-between;
	text-align: left;
}

select {
	background-color: var(--selectionBackground);
	border-radius: var(--borderDist);
	border: none;
	color: var(--foreground);
	max-width: 12rem;
	max-height: 2rem;
	padding: 0.25rem;
}

span.date {
	margin-right: 1em
}

/*======================
	HEADER AND FOOTER
=======================*/

.banner {
	border-radius: var(--borderDist);
	padding: 0.25em;
	color: var(--bg);
	background-color: var(--cursorColor);
}

.left {
	background: linear-gradient(145deg, var(--black), var(--selectionBackground));
}

.right {
	background: linear-gradient(145deg, var(--selectionBackground), var(--black));
}

.right a:first-of-type {
	text-decoration: none;
	color: var(--white);
	font-size: 150%;
}

/*======================
	CONFIG AND EDITOR
=======================*/

.line {
	margin-top: 0.5em;
	display: inline-block;
}

.line>hr {
	margin-top: -0.75em;
	margin-right: 1em;
	border: 0.0625em solid var(--selectionBackground);
}

.bubble>span {
	color: var(--selectionBackground);
	width: 1em;
}

.line>label>span {
	background-color: var(--background);
	padding-right: 0.25em;
}

label {
	display: inline-block;
	min-width: 10em;
}

.bubble, textarea {
	display: table;
	margin-top: 0.5em;
	margin-bottom: 0;
	border-radius: var(--borderDist);
	background-color: var(--background);
	border: none;
}

input {
	border: 0.2em solid var(--selectionBackground);
	border-radius: var(--borderHalf);
}

input[type="submit"], a.button {
	background: linear-gradient(-45deg, var(--background), var(--selectionBackground));
	border-radius: var(--borderDist);
	border: none;
	color: var(--white);
	font-family: sans-serif;
	font-weight: bold;
	margin: 0.125rem;
	outline: none;
	padding: 0.25rem;
	text-decoration: none;
	white-space: nowrap;
}

textarea {
	border-bottom-left-radius: 0;
	color: var(--white);
	filter: grayscale(1);
}

form {
	display: inline-block;
}

form > hr {
	border: none;
	height: 0.125em;
}

.editorPub {
	display: inline-block;
	padding: 0.25em;
	background-color: var(--background);
	border-radius: 0 0 var(--borderDist) var(--borderDist);
}

.bubble span {
	display: inline-block;
}

.bubble label {
	margin-right: -1em;
}