@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

/* Uses Windows Terminal-like theme naming */

:root {
  --black: #fbf1c7;
  --red: #9d0006;
  --green: #79740e;
  --yellow: #b57614;
  --blue: #076678;
  --purple: #8f3f71;
  --cyan: #427b58;
  --white: #3c3836;
  --brightBlack: #9d8374;
  --brightRed: #cc241d;
  --brightGreen: #98971a;
  --brightYellow: #d79921;
  --brightBlue: #458588;
  --brightPurple: #b16186;
  --brightCyan: #689d69;
  --brightWhite: #7c6f64;
  --background: #fbf1c7;
  --foreground: #282828;
  --selectionBackground: #d5c4a1;
  --cursorColor: #282828;
}

/* Default theme based on Gruvbox Light by morhetz/reynn */

body, code {
  color: var(--foreground);
  background-color: var(--background);
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  padding-top: 0;
  line-height: 1.4;
  text-align: justify;
}

span.date {
  margin-right: 1em
}

span.bad {
  color: var(--red)
}

code {
  background-color: var(--brightBlack);
  padding: 0.25em;
  border-radius: 0.125em;
}

ul li img {
  height: 1em
}

h1 {
  color: var(--foreground);
  font-weight: 720;
  letter-spacing: -.05em;
  word-break: break-word;
}

a {
  color: var(--brightBlue)
}

a:visited {
  color: var(--blue)
}

h1, h2, h3 {
  line-height: 1.2;
  text-align: left;
}

h2 {
  text-shadow: 0 0 0.125em var(--brightBlack);
}

.banner {
  padding: 0.25em;
  color: var(--bg);
  background-color: var(--cursorColor);
}

.left {
  background: linear-gradient(to left, var(--brightBlack), var(--background))
}

.right {
  background: linear-gradient(to right, var(--brightBlack), var(--background))
}

h4 {
  text-align: center;
}

img.art {
  float: right;
  width: 350px;
  border: 5px solid var(--selectionBackground);
  margin: 0.5em;
}

mark, span.mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient( to right, rgba(255, 225, 0, 0.1), rgba(255, 225, 0, 0.7) 4%, rgba(255, 225, 0, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}