{
    "themeColor": "#774411",
    "siteName": "AfterCoffee",
    "dateFormat": "F jS, Y",
    "copyright": "Copyright",
	"devCredits": "True",
    "author": "Author Name",
	"indexPage": "default-index",
	"lang": "en",
    "errorPath": "\/assets\/error\/",
	"stylesheet": "main.css",
	"colorsheet": "color-default.css"
}