{
	"identity": {
		"author": "Author Name",
		"copyright": "Copyright",
		"devCredits": "True",
		"siteName": "AfterCoffee"
	},
	"locale": {
		"dateFormat": "F jS, Y",
		"lang": "en"
	},
	"security": {
		"hiddenDemandsAuth": "False"
	},
	"style": {
		"colorsheet": "default.palette",
		"stylesheet": "main.css",
		"themeColor": "#774411"
	},
	"system": {
		"errorPath": "\/assets\/error\/",
		"hidePageByDefault": "False",
		"indexPage": "default-index"
	}
}